<table>
    <tr>
        <td style="font-size: 18px; text-align: center;">
            {{name}}, You have been registered on the CRM-Programming school resource.
        </td>
    </tr>
    <tr>
        <td>
            <a href="{{frontUrl}}/activate/{{actionToken}}">
                <b>Click here to confirm and complete registration.</b>
            </a>
        </td>
    </tr>
    <tr>
        <td style="font-size: 18px; text-align: center;">
            <p>If you have not registered, ignore this message.</p>
        </td>
    </tr>
</table>